.footer {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30pt;
    width: 100%;
}

#contact {
    background: rbga(0,0,0,0);
    margin-right: 30pt;
    color: white;
    float: right;
    height: 30pt;
    align-items: center;
    display: flex;
}

#mail {
    color: white;
    margin: 5pt;
}