.content{
    margin-top: 30pt;
    height: 100vw;
    width: 100%;
    display: flex;
}

.left-content-container{
    width: 60%;
    border: 1px solid white;
    margin: 5pt 0 0 0 ;
}

.right-content-container{
    width: 40%;
    border: 1px solid white;
    margin: 5pt 0 0 5pt ;
}

.sort-list{
    display: flex;
    float: left;
    height: 2.2em;
    align-items: center;
}