.content{
    margin-top: 30pt;
    height: 100vw;
    width: 100%;
    display: flex;
}

.left-content-container{
    width: 50%;
    margin: 5pt 0 0 0 ;
}

.right-content-container{
    width: 50%;
    margin: 5pt 0 0 5pt ;
}

.sort-list {
    width: 100%;
    display: flex;
    float: left;
    height: 2.2em;
    align-items: center;
    margin-top: 10pt;
}

ul {
    list-style-type: none;
    align-content: center;
    text-align: center;
}

.song-list-item {
    width: 80%;
    height: 30pt;
    margin: 5pt 5pt 5pt -20pt;
    text-align: center;
    float: center;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.5)
}

.song-list-item:hover {
    width: 80%;
    height: 30pt;
    margin: 5pt 5pt 5pt -20pt;
    text-align: center;
    float: center;
    border: 1px solid white;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8)
}

.list-song-info {
    margin-top: 40pt;
    width: 100%;
}

.picture-frame {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 200pt;
    width: 20vw;
    border: 1pt solid white;
}