#navbar {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    height: 35pt;
    width: 100%;
    border-bottom: 0.5pt solid white;
}

#nav-title {
    float: left;
    height: 35pt;
    font-size: 28pt;
    font-weight: 500;
    margin: 0 20pt;
    color: white;
}

.nav-modes {
    float: right;
    display: flex;
    flex-direction: row;
    height: 35pt;
    align-items: center;
}

.nav-button {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    margin: 0 5px;
    color: white;
    font-size: 100%;
}

.nav-escape {
    margin-top: 35pt;
}